input(type="text" value=basic.ID name="ID" placeholder="ID" class="form-control" )
input(type="text" value=basic.Title name="Title" placeholder="Title" class="form-control")
input(type="text" value=basic.Subtitle name="Subtitle" placeholder="Subtitle" class="form-control")
textarea(value=basic.Description name="Description" placeholder="Description" class="form-control")
input(type="text" value=basic.Image name="Image" placeholder="Image" class="form-control")
input(type="text" value=detail.Author name="Author" placeholder="Author" class="form-control")
input(type="text" value=detail.ISBN name="ISBN" placeholder="ISBN" class="form-control")
input(type="text" value=detail.Page name="Page" placeholder="Page" class="form-control")
input(type="text" value=detail.Year name="Year" placeholder="Year" class="form-control")
input(type="text" value=detail.Publisher name="Publisher" placeholder="Publisher" class="form-control")
input(type="text" value=detail.Download name="Download" placeholder="Download" class="form-control")
button(type="submit" class="btn btn-hg btn-primary") Go!~~
style
    | #inputbox{
    |   padding-right: 35%;
    |   padding-left: 20%;
    |   width:100%;
    | }
    | .form-control{
    |   width:auto;
    |   height:auto;
    | }
    | textarea.form-control{
    |   height: 150px;
    |   width:100%;
    | }
    | #inputbox input[type="text"]{
    |   margin-bottom:5px;
    |   width:100%;
    | }
